@tailwind base;
@tailwind components;
@tailwind utilities;

.myGradient {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.navbar {
  display: none;
}

.hamburger {
  display: flex;
}

@media (min-width: 888px) {
  .navbar {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}
